
body{
    background-color: rgb(255, 255, 209);
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-size: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}
.playScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scoreDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 50px
    
}
.player-score,
.computer-score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 50px
}
#resultText{
    font-size: 14px;
}
  
    
button{
    width:150px;
    height:50px;
    background: rgb(184, 233, 250);
    border: none;
    color: rgb(218, 126, 141);
    font-size: 20px;
    justify-content: space-around;
    gap:50px:
}
button:hover{
    opacity: 0.5;
}

.final-score{
    font-size: 50px;
    font-weight: bold;
    color:rgb(153, 201, 202);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

div.fadeOut{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}
div.fadeIn{
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.5s ease-in-out;
}